.benefit {
    @media screen and (max-width: $bp-large) {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    @media screen and (max-width: $bp-medium) {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;

    &__heading {
        @media screen and (max-width: $bp-large) {
            grid-row-gap: 16px;
            flex-wrap: wrap;
            margin-bottom: 32px;
        }

        grid-column-gap: 32px;
        grid-row-gap: 24px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;
        display: flex;

        &-title {
            max-width: 485px;
        }
    }

    &__sub {
        max-width: 460px;
    }

    &__slide {

        @media screen and (max-width: 767px) {
            padding-bottom: 68px;
        }

        @media screen and (max-width: $bp-large) {
            padding-bottom: 92px;
        }

        height: auto;
        background-color: transparent;
        padding-bottom: 92px;
        padding-bottom: 0;
    }

    &__mask {

        @media screen and (max-width: $bp-large) {
            display: flex;
            flex-direction: column;
            grid-gap: 20px
        }


        height: auto;
        margin-left: -16px;
        margin-right: -16px;
        overflow: visible;


    }

    &__benefit {
        @media screen and (max-width: $bp-large) {
            width: 100%;
        }

        width: 33.3333%;
        padding-left: 16px;
        padding-right: 16px;
        opacity: 1;


    }

    &__card {
        @media screen and (max-width: $bp-medium) {
            padding: 24px;
        }

        width: 100%;
        border: 2px solid $color-secondary-dark-1;
        background-color: white;
        border-radius: 15px;
        padding: 40px;


    }

    &__icon {
        width: 90px;
        height: 90px;
        background-color: $color-lavender-4;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        margin-bottom: 64px;
        display: flex;
    }

    &__description {
        margin-top: 8px;
    }
}